header{
    animation:myheader 1s 1;
    
}
@keyframes myheader{
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0);
    }

}
h1{
    animation:mytitle 1.5s 1;
    
}
@keyframes mytitle{
    0%{
        transform: translateX(0);
    color:cyan;
    }
    50%{
        transform: translateX(150px);
    }

    80%{
        transform: translateX(-200px);
    }
    
    100%{
        transform: translateX(0);
    }

}
.mob-main-list,.mob-sub-list,.mob-sub-sub-list{
    animation:mylinks 1s 1;

   
}
@keyframes mylinks{
    0%{
       transform: translateX(100px);
  
    }
 

    50%{
     transform: translateX(-100px);
    }
    
    100%{
        transform: translateX(0);
    }

}